In [109]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [110]:
purchase_data.head(50)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
30,30,Idai61,19,Male,140,Striker,2.94
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38
34,34,Sondim73,19,Male,160,Azurewrath,4.40
35,35,Jeyciman68,22,Male,53,Vengeance Cleaver,2.05
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
39,39,Sondilsaya62,21,Male,172,Blade of the Grave,3.14
40,40,Aerithriaphos45,20,Male,143,Frenzied Scimitar,1.56
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77
43,43,Aelly27,24,Male,116,Renewed Skeletal Katana,4.18
44,44,Tyeosri53,24,Male,9,"Thorn, Conqueror of the Corrupted",2.73
45,45,Haerith37,23,Male,181,Reaper's Toll,1.66
46,46,Yasrisu92,27,Male,102,Avenger,3.44
47,47,Chanuchi25,20,Male,170,Shadowsteel,3.97
48,48,Asur96,20,Male,138,"Peacekeeper, Wit of Dark Magic",4.74
49,49,Iaralrgue74,33,Male,110,Suspension,1.44

In [111]:
# Total number of players
total_players = len(purchase_data["SN"].unique())
# print(total_players)
total_players_table = pd.DataFrame([total_players], columns = ["Total Players"])

total_players_table

   Total Players
0            576

In [112]:
# PURCHASING ANALYSIS

# Unique items
unique_items = len(purchase_data["Item Name"].unique())
# print(unique_items)

# Average purchase price
average_price = purchase_data["Price"].mean()
# print(average_price)

# Total number of purchases
purchases_total = purchase_data["Price"].count()
# print(purchases_total)

# Total revenue
total_revenue = purchase_data["Price"].sum()
# print(total_revenue)

purchase_summary_table = pd.DataFrame({"Number of Unique Items": [unique_items],
                                           "Average Purchase Price": [average_price],
                                           "Total Number of Purchases": [purchases_total],
                                           "Total Revenue": [total_revenue]})

purchase_summary_table = purchase_summary_table.round(2)

purchase_summary_table

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.05,780,2379.77

In [113]:
# GENDER DEMOGRAPHICS

gender = pd.DataFrame(purchase_data.drop_duplicates(["SN"]))
gender_demographics = gender.groupby(['Gender'])

total_count = gender_demographics["Gender"].count()

percent_players = gender_demographics["Gender"].count()/total_players*100

gender_table = pd.DataFrame({"Total Count": total_count,
                             "Percentage of players": percent_players})
gender_table["Percentage of players"] = gender_table["Percentage of players"].map("{:.2f}%".format)

gender_table

                       Total Count Percentage of players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [114]:
# PURCHASING ANALYSIS TOTAL

gender_purchases = purchase_data.groupby(['Gender'])

purchase_count = gender_purchases["Price"].count()

avg_purchase_price = gender_purchases["Price"].mean()

total_purchase = gender_purchases["Price"].sum()

avg_per_person = gender_purchases["Price"].sum()/gender_table["Total Count"]

purchases_df = pd.DataFrame({"Purchase Count":purchase_count, 
                             "Average Purchase Price": avg_purchase_price,
                             "Total Purchase Value": total_purchase, 
                             "Avg Purchases Per Person": avg_per_person})

purchases_df = purchases_df.round(2)

purchases_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchases Per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [115]:
# AGE DEMOGRAPHICS

bins = [0, 9, 14, 19, 24, 29, 34, 39, 44, 49, 1000]
age_ranges = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '>50' ]

bin_df = purchase_data
bin_df["Age Groups"] = pd.cut(bin_df["Age"], bins, labels=age_ranges)
groupby_bin = bin_df.groupby(["Age Groups"])

bin_count = groupby_bin["SN"].count()
total_count = purchase_data["SN"].count()
percentage = (bin_count / total_count) * 100

age_ranges = pd.DataFrame({"Total Count": bin_count,
                           "Percentage of Players": percentage})
age_ranges = age_ranges.round(2)
age_ranges

            Total Count  Percentage of Players
Age Groups
<10                  23                   2.95
10-14                28                   3.59
15-19               136                  17.44
20-24               365                  46.79
25-29               101                  12.95
30-34                73                   9.36
35-39                41                   5.26
40-44                12                   1.54
45-49                 1                   0.13
>50                   0                   0.00

In [121]:
#PURCHASING ANALYSIS AGE

bins = [0, 9, 14, 19, 24, 29, 34, 39, 44, 49, 1000]
age_ranges = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '>50' ]

bin_df = purchase_data
bin_df["Age Groups"] = pd.cut(bin_df["Age"], bins, labels=age_ranges)
groupby_bin = bin_df.groupby(["Age Groups"])

purch_count = groupby_bin["Price"].count()
avg_purch_price = groupby_bin["Price"].mean()
total_purch = groupby_bin["Price"].sum()
average_perch_per_person = groupby_bin["Price"].sum()/groupby_bin["SN"].nunique()

age_demo_df = pd.DataFrame({"Purchase Count": purch_count, 
                            "Average Purchase Price": avg_purch_price,
                            "Total Purchase Value": total_purch,
                            "Avg Purchases Per Person": average_perch_per_person})
age_demo_df = age_demo_df.round(2)

age_demo_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchases Per Person
Age Groups,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40-44,12,3.04,36.54,3.32
45-49,1,1.70,1.70,1.70
>50,0,NaN,0.00,NaN

In [127]:
# TOP SPENDERS

top_spenders = purchase_data.groupby(['SN'])

spender_count = top_spenders["Price"].count()

spender_avg = top_spenders["Price"].mean()

spender_total = top_spenders["Price"].sum()

spender_df = pd.DataFrame({"Purchase Count": spender_count, 
                            "Average Purchase Price":spender_avg,
                            "Total Purchase Value":spender_total})

spender_df = spender_df.sort_values("Total Purchase Value", ascending=False)

spender_df = spender_df.round(2)

spender_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [131]:
# MOST POPULAR ITEMS

# popit_df = pd.DataFrame(heroes_df)
popular_items = purchase_data.groupby(['Item ID','Item Name'])

item_count = popular_items["Price"].count()

item_price = popular_items["Price"].mean()

item_total = popular_items["Price"].sum()

items_df = pd.DataFrame({"Purchase Count": item_count, 
                         "Item Price": item_price,
                         "Total Purchase Value": item_total})
items_df = items_df.sort_values("Purchase Count", ascending=False)

items_df = items_df.round(2)

items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [134]:
# MOST PROFITABLE ITEMS

most_profitable = items_df.sort_values("Total Purchase Value", ascending=False)

most_profitable.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80